@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,400;1,600;1,700&family=Poppins:wght@400;600&display=swap');

:root{
    --fuente-lora: 'Lora', serif;
    --fuente-poppins: 'Poppins', sans-serif;
    --color-principal: #c7e2ff;
    --color-enfasis: #e1ffff;
    --color-secundario: #87cefa;
    --color-secundario-fuerte: #01ced1;
        
}
body{
    font-family: var(--fuente-lora);
    font-size: 18px;
}
.shadow {
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
}
.menu{
    background: linear-gradient(to right, #7a665d, #b1a191);
    font-family: 'Lora', serif;
}
.nav-link{
    color: #ffffff;
}
.nav-link:hover{
    color: #e4d68f;
}
/* .hero-p{
    margin-bottom: 8rem;
    font-family: var(--fuente-lora);
}
.hero-title{
    font-family: var(--fuente-poppins);
    font-size: 45px;
    font-weight: 600;
} */
